:root {
    --grey-1: #858585;
    --grey-2: #999;
    --grey-3: #adadad;
    --grey-4: #c2c2c2;
    --grey-5: #d6d6d6;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #fff;
    height: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 1rem;
}

h1, p {
    margin: 0;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}


site-card:not(:last-child) {
    margin: 0 0 1rem;
}

@import "shadows";
@import "card";