:root {
    --white: #fff;
    --grey-1: #858585;
    --grey-2: #999;
    --grey-3: #adadad;
    --grey-4: #c2c2c2;
    --grey-5: #d6d6d6;

    --green-1: #68af70;
    --green-2: #7ebd88;
    --green-3: #93cb9f;
    --green-4: #a9dab7;
    --green-5: #bee8cf;

    --metro-1: #081f2c;
    --metro-2: #3cdbc0;
    --metro-3: #f1be48;
    --metro-4: #e03c31;

    --mobile-padding: .5rem;
    --tablet-padding: 2rem;
    --tablet-margin: -2rem;
}

@import "notosans";

* {
    box-sizing: border-box;
}



body {
    background: var(--metro-1);
    color: rgba(0,0,0,.75);
    height: 100%;
    margin: 0 auto;
}

h1 {
    color: var(--metro-2);
    @media (min-width: 768px) {
        font-size: 40px;
    }

    @media (min-width: 1024px) {
        font-size: 80px;
    }
}

h1, h2, p, ul {
    margin: 0;
}

ul {
    padding: 0 0 0 1rem;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    grid-column: 1 / -1;
    justify-content: flex-end;
    padding: 0 var(--mobile-padding) 0 0;

    @media (min-width: 768px) {
        grid-column: 4 / -1;
        margin: 0 var(--tablet-margin) 0 0;
        padding: 0 var(--tablet-padding) 0 0;
    }
    
    @media (min-width: 1024px) {
        grid-column: 5 / -1;
    }

    a {
        color: var(--metro-3);
        font-weight: 600;
        margin: 0 0 0 .5rem;
    }
}

.main {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    padding: var(--mobile-padding) var(--mobile-padding) 0;

    @media (min-width: 768px) {
        grid-template-columns: repeat(6, 1fr);
        padding: 1rem var(--tablet-padding) 0;
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(8, 1fr);
    }
}

h2.section-title {
    color: var(--metro-3);
}

.intro-container {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    grid-column: 1 / -1;
    min-height: 100vh;
    padding: 4rem var(--mobile-padding) 0;

    @media (min-width: 768px) {
        align-items: flex-start;
        margin: 0 var(--tablet-margin) 0;
        padding: 2rem 3rem 0;
    }

    @media (min-width: 1024px) {
        align-items: flex-start;
        grid-column: 3 / 7;
        padding: 7rem 0 0;
    }

    .link-employer {
        color: var(--metro-4);
    }
}

.about-container {
    grid-column: 1 / -1;
    min-height: 100vh;
    padding: 0 .5rem 0;

    @media (min-width: 768px) {
        grid-column: 2 / 6;
        margin: 0 var(--tablet-margin) 0;
    }

    @media (min-width: 1024px) {
        grid-column: 3 / 7;
        margin: 0;
        padding: 0;
    }

    ul {
        color: var(--metro-4);
    }
}

.intro-container, .about-container {
    h2 {
        color: var(--metro-3);
    }
}

.profile-image-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    .profile-image {
        clip-path: circle(50%);
        max-height: 142px;
    }
}

.profile-content {
    color: var(--metro-2);
    font-weight: 600;
}

.section-title {
    grid-column: 1 / -1;
}

@import "shadows";
@import "card";